html {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fd9496;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6em;
}

@font-face {
  font-family: wishper-script;
  src: url(../wishper-script.ttf);
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
}

p {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0 auto;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .contenedor {
    width: 70%;
    margin: 0 auto;
  }
}

.seccion {
  margin: 3em inherit;
}

.hero {
  position: relative;
}

.hero img {
  height: 100%;
}

.hero .text-header {
  position: absolute;
  top: 5%;
  left: 0%;
  right: 0%;
  bottom: 95%;
  width: 100%;
}

.hero .text-header h1 {
  font-size: 4.5rem;
  font-family: wishper-script;
  color: #17174b;
  text-shadow: 0px 4px 4px rgba(41, 41, 41, 0.84);
}

.hero .text-header p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.7rem;
  color: #18185f;
  padding-top: 0.5em;
  text-shadow: 0px 4px 4px rgba(41, 41, 41, 0.84);
}

.barra-header-movile {
  background-color: #1d1d1d;
  text-align: center;
}

.barra-header-movile i {
  color: #bdbdbd;
}

.barra-header-movile .barra-hero {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2c2c2c;
}

.barra-header-movile .barra-hero .icons {
  padding-top: 0.5em;
  border-bottom: 1px solid #1d1d1d;
}

.barra-header-movile .barra-hero .icons i {
  font-size: 1.5rem;
  color: #bdbdbd;
}

.barra-header-movile .barra-hero .icons a:first-child i {
  margin-right: 1.5em;
}

.barra-header-movile .barra-hero .icons a:nth-child(2) i {
  margin-left: 1.5em;
}

.barra-header-movile .barra-hero .pages a {
  padding-top: 0.5em;
  border-bottom: 1px solid #1d1d1d;
  width: 100%;
  font-size: 1.6rem;
  color: #bdbdbd;
  display: block;
}

@media only screen and (min-width: 768px) {
  .hero .text-header {
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 85%;
    width: 70%;
  }
  .hero .text-header h1 {
    font-size: 8rem;
    color: #611a84;
  }
  .hero .text-header p {
    font-size: 2.7rem;
    color: #611a84;
  }
  .hero .barra-header {
    position: absolute;
    background-color: #db2e3c;
    height: 2em;
    width: 100%;
    bottom: -10px;
  }
  .hero .barra-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.7em 0;
  }
  .hero .barra-hero .icons i {
    margin-top: 0;
    margin-left: 2em;
    font-size: 3.5rem;
    color: #390e4e;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hero .barra-hero .icons i:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .hero .barra-hero .pages a {
    width: auto;
    margin-right: 2em;
    font-size: 2rem;
    color: #390e4e;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    display: inline-block;
  }
  .hero .barra-hero .pages a:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .hero .activo-barra {
    background-color: rgba(0, 0, 0, 0.675);
    position: fixed;
    padding: 0.7em 0;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
  .hero .activo-barra .pages a {
    padding: 0.3em 0;
    color: white;
  }
  .hero .activo-barra .icons a i {
    color: white;
  }
}

.freelancer {
  position: relative;
  height: 15em;
  margin-top: 5em;
}

.freelancer .center-freelancer {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #702fad;
  width: 80%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-right: #390e4e 15px solid;
  padding: 1.5em 0;
  -webkit-box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.64);
}

.freelancer .center-freelancer h1,
.freelancer .center-freelancer p {
  text-align: left;
}

.freelancer .center-freelancer p {
  margin-top: 1em;
  line-height: 2;
  font-size: 1.2rem;
}

.freelancer .center-freelancer h1 {
  font-size: 2.5rem;
  color: #390e4e;
}

.freelancer .center-freelancer span {
  color: #db2e3c;
  font-size: "Work Sans", sans-serif;
  font-weight: 900;
  text-shadow: 0px 6px 6px rgba(26, 26, 26, 0.911);
  -webkit-animation: span-shadow infinite alternate 4s;
          animation: span-shadow infinite alternate 4s;
}

.freelancer .icono-1 {
  position: absolute;
  top: 30px;
  right: -2px;
  color: #390e4e;
  font-size: 2.5em;
}

.freelancer .icono-2 {
  position: absolute;
  bottom: 30px;
  right: -2px;
  color: #390e4e;
  font-size: 2.5em;
}

@media only screen and (min-width: 768px) {
  .freelancer {
    height: 20em;
    margin-top: 10em;
  }
  .freelancer .center-freelancer {
    width: 40%;
    border-right: #390e4e 20px solid;
  }
  .freelancer .center-freelancer p {
    margin-top: 1.2em;
    line-height: 2;
    font-size: 1em;
  }
  .freelancer .center-freelancer h1 {
    font-size: 2em;
  }
  .icono-1 {
    font-size: 3em;
  }
  .icono-2 {
    font-size: 3em;
  }
}

.freelancer-page {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  height: 16em;
}

.freelancer-page h1,
.freelancer-page p {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.freelancer-page span:last-child {
  font-size: 1.2em;
  color: #390e4e;
  -webkit-animation: none;
          animation: none;
  text-shadow: none;
}

@media only screen and (min-width: 768px) {
  .freelancer-page {
    height: 25em;
  }
}

.activo-freelancer .center-freelancer {
  -webkit-animation: center-animate 3s ease;
          animation: center-animate 3s ease;
}

@-webkit-keyframes center-animate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes center-animate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes span-shadow {
  0% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0);
  }
  100% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0.911);
  }
}

@keyframes span-shadow {
  0% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0);
  }
  100% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0.911);
  }
}
/*# sourceMappingURL=style.css.map */