html {
        min-height: 100%;
        box-sizing: border-box;
        font-size: 62.5%;
        background-color: #fd9496;
}
*,
*:before,
*:after {
        box-sizing: inherit;
}
body {
        font-size: 1.6em;
}

//Codigos Reutilizables
$fuente-titulos: "Work Sans", sans-serif; //500-900
$fuente-texto: "Inter", sans-serif; //400-900
$color-principal: rgb(97, 26, 132);
$color-principal-oscuro: rgb(57, 14, 78);
$color-principal-liviano: rgb(112, 47, 173);
$color-secundario-rojo: #db2e3c;
$color-secundario-naranja: #ed5d45;
$color-secundario-naranja-oscuro: #ff7259;
@mixin transform($property) {
        -webkit-transform: $property;
        -ms-transform: $property;
        transform: $property;
}

@mixin button($color, $padding-top, $padding-right, $margin-top, $margin-right, $border, $font) {
        background-color: $color;
        padding: $padding-top $padding-right;
        margin: $margin-top $margin-right;
        border-radius: $border;
        font-size: $font;
}

@font-face {
        font-family: wishper-script;
        src: url(../wishper-script.ttf);
}

//Paginas Codigo Principal

h1,
h2,
h3,
h4 {
        font-family: $fuente-titulos;
        margin: 0 auto;
        text-align: center;
}
p {
        font-family: $fuente-texto;
        text-align: center;
        margin: 0 auto;
}
a {
        font-family: $fuente-texto;
        text-decoration: none;
        color: black;
        text-align: center;
        margin: 0 auto;
}

img {
        width: 100%;
        height: auto;
}

.contenedor {
        width: 90%;
        margin: 0 auto;
}
@media only screen and (min-width: 768px) {
        .contenedor {
                width: 70%;
                margin: 0 auto;
        }
}

.seccion {
        margin: 3em inherit;
}
// Pagina Principal

//Header
.hero {
        position: relative;
        img {
                height: 100%;
        }
        .text-header {
                position: absolute;
                top: 5%;
                left: 0%;
                right: 0%;
                bottom: 95%;
                width: 100%;

                h1 {
                        font-size: 4rem;
                        font-family: wishper-script;
                        color: $color-principal;
                }
                p {
                        font-family: $fuente-titulos;
                        font-size: 1.7rem;
                        color: $color-principal;
                        padding-top: 0.5em;
                }
        }
}
.barra-header-movile {
        background-color: $color-secundario-rojo;
        text-align: center;
        i {
                color: $color-principal-oscuro;
        }
        .barra-hero {
                width: 100%;
                justify-content: space-between;
                background-color: $color-secundario-naranja;
                .icons {
                        padding-top: 0.5em;
                        border-bottom: 1px solid $color-secundario-rojo;
                        i {
                                font-size: 1.5rem;
                                color: $color-principal-oscuro;
                        }
                }
                .icons a:first-child i {
                        margin-right: 1.5em;
                }
                .icons a:nth-child(2) i {
                        margin-left: 1.5em;
                }
                .pages {
                        a {
                                padding-top: 0.5em;
                                border-bottom: 1px solid $color-secundario-rojo;
                                width: 100%;
                                font-size: 1.6rem;
                                color: $color-principal-oscuro;
                                display: block;
                        }
                }
        }
}
@media only screen and (min-width: 768px) {
        .hero {
                .text-header {
                        top: 15%;
                        left: 15%;
                        right: 15%;
                        bottom: 85%;
                        width: 70%;
                        h1 {
                                font-size: 8rem;
                        }
                        p {
                                font-size: 2.7rem;
                        }
                }
                .barra-header {
                        position: absolute;
                        background-color: $color-secundario-rojo;
                        height: 2em;
                        width: 100%;
                        bottom: -10px;
                }
                .barra-hero {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        display: flex !important;
                        justify-content: space-between;
                        padding: 1.7em 0;
                        .icons {
                                i {
                                        margin-top: 0;
                                        margin-left: 2em;
                                        font-size: 3.5rem;
                                        color: $color-principal-oscuro;
                                        transition: all ease 0.3s;
                                }
                                i:hover {
                                        @include transform(scale(1.1));
                                }
                        }
                        .pages {
                                a {
                                        width: auto;
                                        margin-right: 2em;
                                        font-size: 2rem;
                                        color: $color-principal-oscuro;
                                        transition: all ease-in 0.3s;
                                        display: inline-block;
                                }
                                a:hover {
                                        @include transform(scale(0.9));
                                }
                        }
                }
                .activo-barra {
                        background-color: rgba(0, 0, 0, 0.675);
                        position: fixed;
                        padding: 0.7em 0;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        transition: all linear 0.5s;
                        .pages {
                                a {
                                        padding: 0.3em 0;
                                        color: white;
                                }
                        }
                        .icons a i {
                                color: white;
                        }
                }
        }
}

//Freelancer
.freelancer {
        position: relative;
        height: 15em;
        margin-top: 5em;
        .center-freelancer {
                position: absolute;
                top: 0;
                bottom: 0;
                background-color: $color-principal-liviano;
                width: 80%;
                transform: scaleX(1);
                transform-origin: left;
                border-right: $color-principal-oscuro 15px solid;
                padding-top: 15px;
                -webkit-box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.64);
                -moz-box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.64);
                box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.64);
                h1,
                p {
                        text-align: left;
                }
                p {
                        margin-top: 1em;
                        line-height: 2;
                        font-size: 1.2rem;
                }
                h1 {
                        font-size: 2.5rem;
                }
        }
        .icono-1 {
                position: absolute;
                top: 30px;
                right: -2px;
                color: $color-principal-oscuro;
                font-size: 2.5em;
        }
        .icono-2 {
                position: absolute;
                bottom: 30px;
                right: -2px;
                color: $color-principal-oscuro;
                font-size: 2.5em;
        }
}
@media only screen and (min-width: 768px) {
        .freelancer {
                height: 18em;
                margin-top: 10em;
                .center-freelancer {
                        width: 40%;

                        border-right: $color-principal-oscuro 20px solid;
                        padding-top: 30px;

                        p {
                                margin-top: 1.2em;
                                line-height: 2;
                                font-size: 1em;
                        }
                        h1 {
                                font-size: 2em;
                        }
                }
        }
        .icono-1 {
                font-size: 3em;
        }
        .icono-2 {
                font-size: 3em;
        }
}
.activo-freelancer {
        .center-freelancer {
                animation: center-animate 3s ease;
        }

        @keyframes center-animate {
                0% {
                        transform: scaleX(0);
                }
                100% {
                        transform: scaleX(1);
                }
        }
}

.freelancer-page {
        transform: scale(-1, 1);
        h1,
        p {
                transform: scale(-1, 1);
        }
        height: 18em;
}
@media only screen and (min-width: 768px) {
        .freelancer-page {
                height: 25em;
        }
}

//My pages

//Barra Header
