html {
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fd9496;
  min-width: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6em;
}

@font-face {
  font-family: wishper-script;
  src: url(../wishper-script.ttf);
}

h1,
h2,
h3,
h4 {
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
  text-align: center;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h2 {
  font-size: 6rem;
}

.h2-principal {
  color: #390e4e;
  border-bottom: 5px #390e4e dashed;
  padding-bottom: 0.1em;
}

h3 {
  font-size: 3rem;
}

p {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0 0;
  font-weight: 900;
  color: #2f0d2f;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: black;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
  width: 100%;
  height: auto;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

.seccion {
  margin: 8em auto;
}

@media only screen and (min-width: 768px) {
  .seccion {
    margin: 12em auto;
  }
}

.revertir {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.img-hero-movil {
  display: none;
}

.img-hero-desk {
  display: block;
}

@media only screen and (max-width: 768px) {
  .img-hero-movil {
    display: block;
  }
  .img-hero-desk {
    display: none;
  }
}

.hero {
  position: relative;
}

.hero img {
  height: 100%;
}

.hero .text-header {
  position: absolute;
  top: 5%;
  left: 0%;
  right: 0%;
  bottom: 95%;
  width: 100%;
}

.hero .text-header h1 {
  font-size: 4.5rem;
  font-family: wishper-script;
  color: #17174b;
  text-shadow: 0px 4px 4px rgba(41, 41, 41, 0.84);
}

.hero .text-header p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.7rem;
  color: #18185f;
  padding-top: 0.5em;
  text-shadow: 0px 4px 4px rgba(41, 41, 41, 0.84);
}

.barra-header-movile {
  background-color: #1d1d1d;
  text-align: center;
}

.barra-header-movile i {
  color: #bdbdbd;
}

.barra-header-movile .barra-hero {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2c2c2c;
}

.barra-header-movile .barra-hero .icons {
  padding-top: 0.5em;
  border-bottom: 1px solid #1d1d1d;
}

.barra-header-movile .barra-hero .icons i {
  font-size: 1.5rem;
  color: #bdbdbd;
}

.barra-header-movile .barra-hero .icons a:first-child i {
  margin-right: 1.5em;
}

.barra-header-movile .barra-hero .icons a:nth-child(2) i {
  margin-left: 1.5em;
}

.barra-header-movile .barra-hero .pages a {
  padding-top: 0.5em;
  border-bottom: 1px solid #1d1d1d;
  width: 100%;
  font-size: 1.6rem;
  color: #bdbdbd;
  display: block;
}

@media only screen and (min-width: 768px) {
  .hero .text-header {
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 85%;
    width: 70%;
  }
  .hero .text-header h1 {
    font-size: 10rem;
    color: #611a84;
  }
  .hero .text-header p {
    font-size: 2.7rem;
    color: #611a84;
  }
  .hero .barra-header {
    position: absolute;
    background-color: #db2e3c;
    height: 2em;
    width: 100%;
    bottom: -10px;
  }
  .hero .barra-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.7em 0;
  }
  .hero .barra-hero .icons i {
    margin-top: 0;
    margin-left: 2em;
    font-size: 3.5rem;
    color: #390e4e;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .hero .barra-hero .icons i:hover {
    color: #e1e1e1;
  }
  .hero .barra-hero .pages a {
    width: auto;
    margin-right: 2em;
    font-size: 2rem;
    color: #390e4e;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    display: inline-block;
  }
  .hero .barra-hero .pages a:hover {
    color: #e1e1e1;
  }
  .hero .activo-barra {
    background-color: rgba(0, 0, 0, 0.675);
    position: fixed;
    padding: 0.5em 0;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
  .hero .activo-barra .pages a {
    padding: 0.3em 0;
    color: white;
  }
  .hero .activo-barra .pages a:hover {
    color: #666666;
  }
  .hero .activo-barra .icons a i {
    color: white;
  }
  .hero .activo-barra i:hover {
    color: #666666;
  }
}

.about-me {
  margin-top: 6em;
}

.about-me .about-me-content {
  width: 90%;
}

.about-me .about-me-content h2 {
  text-align: left;
}

.about-me .about-me-content p {
  background-color: #702fad;
  border-radius: 10px;
  border: 5px #390e4e solid;
  padding: 0.5em 1em;
  text-align: left;
  line-height: 2;
  font-size: 1.8rem;
  margin-top: 1em;
}

.about-me .about-me-content p span {
  font-weight: 900;
  font-size: 1.9rem;
}

.about-me .about-me-content p a {
  color: #db2e3c;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.about-me .about-me-content p a i {
  margin-right: 0.5em;
  font-size: 2rem;
  color: #db2e3c;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.about-me .about-me-content p a:hover,
.about-me .about-me-content p a:hover i {
  color: #6e0d15;
}

@media only screen and (min-width: 768px) {
  .about-me .about-me-content {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .display-grid-fw {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.center-freelancer {
  background-color: #702fad;
  width: 80%;
  height: 24em;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-right: #390e4e 15px solid;
  padding: 1.5em 0;
  -webkit-box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.64);
}

.center-freelancer .center-freelancer-content {
  margin: 0 0.5em 0 1.5em;
}

.center-freelancer .center-freelancer-content h3,
.center-freelancer .center-freelancer-content p {
  text-align: left;
}

.center-freelancer .center-freelancer-content p {
  margin-top: 1em;
  line-height: 1.8;
  font-size: 1.4rem;
}

.center-freelancer .center-freelancer-content h3 {
  color: #390e4e;
}

.center-freelancer .center-freelancer-content span {
  color: #db2e3c;
  font-size: "Work Sans", sans-serif;
  font-weight: 900;
  text-shadow: 0px 6px 6px rgba(26, 26, 26, 0.911);
  -webkit-animation: span-shadow infinite alternate 4s;
          animation: span-shadow infinite alternate 4s;
}

.icono-1 {
  position: absolute;
  top: 30px;
  right: -2px;
  color: #390e4e;
  font-size: 2.5em;
}

.icono-2 {
  position: absolute;
  bottom: 30px;
  right: -2px;
  color: #390e4e;
  font-size: 2.5em;
}

@media only screen and (min-width: 400px) {
  .center-freelancer {
    height: 22em;
  }
  .center-freelancer .center-freelancer-content p {
    margin-top: 0.5em;
    line-height: 1.6;
    font-size: 0.95em;
  }
}

@media only screen and (min-width: 768px) {
  .center-freelancer {
    height: 20em;
  }
  .center-freelancer .center-freelancer-content p {
    margin-top: 0.7em;
    line-height: 1.7;
    font-size: 0.95em;
  }
}

@media only screen and (min-width: 998px) {
  .center-freelancer {
    height: 18em;
  }
  .center-freelancer .center-freelancer-content p {
    margin-top: 1em;
    line-height: 1.8;
    font-size: 1em;
  }
}

.freelance-page {
  text-align: right;
}

.freelance-page .center-freelancer-content {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.freelance-page .center-freelancer-content h3,
.freelance-page .center-freelancer-content p {
  text-align: right;
}

.activo-freelancer {
  -webkit-animation: animation-freelancer 3s ease;
          animation: animation-freelancer 3s ease;
}

@-webkit-keyframes animation-freelancer {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animation-freelancer {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes span-shadow {
  0% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0);
  }
  100% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0.911);
  }
}

@keyframes span-shadow {
  0% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0);
  }
  100% {
    text-shadow: 0px 6px 6px rgba(26, 26, 26, 0.911);
  }
}

.layouts {
  margin-top: 2em;
}

@media only screen and (min-width: 768px) {
  .layouts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.content-lay h3 {
  color: #390e4e;
  margin-bottom: 0.5em;
}

.content-lay h3 i {
  margin-right: 0.5em;
}

.content-lay .images-lay-desk,
.content-lay .images-lay-mobile {
  text-align: center;
  border: 3px #390e4e solid;
  margin: 1em;
}

.content-lay .images-lay-desk a img,
.content-lay .images-lay-mobile a img {
  margin: 0.5em;
  border: 3px #390e4e solid;
  border-radius: 10px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.content-lay .images-lay-desk a img:hover,
.content-lay .images-lay-mobile a img:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.content-lay .images-lay-desk a img {
  width: 12em;
  height: 7.6em;
}

.content-lay .images-lay-mobile a img {
  width: 5.8em;
  height: 16em;
}

.content-lay:nth-of-type(2) {
  margin-top: 5em;
}

@media only screen and (min-width: 768px) {
  .desktop-lay .images-lay {
    margin: 0 3em 0 0;
  }
  .content-lay:nth-of-type(2) {
    margin-top: 0em;
  }
}

.web-page-section {
  position: relative;
}

.web-page {
  background-color: #db2e3c;
  width: 90%;
  margin: 15em auto;
  border: #6e0d15 10px solid;
  border-radius: 10px;
}

.web-page h3 {
  color: #6e0d15;
  padding-top: 0.5em;
  line-height: 1.2;
}

.web-page .web-page-content {
  padding: 0.5em;
}

.web-page .web-page-content div {
  text-align: center;
  margin: 1.5em 0.5em 0 0.5em;
  background-color: #bd9393;
  border-radius: 10px;
  padding: 0.7em;
}

.web-page .web-page-content div p {
  font-size: 1.4rem;
  line-height: 1.6;
  color: black;
}

.web-page .web-page-content div span {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1;
  color: #6e0d15;
}

@media only screen and (min-width: 768px) {
  .web-page {
    height: 24em;
    width: 50%;
    margin: 8em auto;
  }
  .web-page h3 {
    color: #6e0d15;
    padding-top: 0.5em;
    line-height: 1.2;
  }
  .web-page-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .web-page-content div {
    margin: 1em 0.3em 0 0.3em;
  }
  .web-page-content div p {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  .web-page-content div span {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) {
  .web-page-content div {
    margin: 1em 0.5em 0 0.5em;
  }
  .web-page-content div p {
    line-height: 1.7;
  }
}

.barra-web-page-1 {
  background-color: #6e0d15;
  position: absolute;
  top: 175px;
  left: 0;
  width: 20.3em;
  height: 2em;
  z-index: -1;
}

.barra-web-page-2 {
  background-color: #6e0d15;
  position: absolute;
  top: 175px;
  right: 0;
  width: 20.3em;
  height: 2em;
  z-index: -1;
}

.web-page-section i:nth-child(1) {
  position: absolute;
  top: -100px;
  left: 75px;
  color: #6e0d15;
  font-size: 7rem;
}

.web-page-section i:nth-child(2) {
  position: absolute;
  top: -100px;
  right: 75px;
  color: #6e0d15;
  font-size: 7rem;
}

.web-page-section i:nth-child(5) {
  position: absolute;
  bottom: -100px;
  left: 75px;
  color: #6e0d15;
  font-size: 7rem;
}

.web-page-section i:nth-child(6) {
  position: absolute;
  bottom: -100px;
  right: 75px;
  color: #6e0d15;
  font-size: 7rem;
}

@media only screen and (min-width: 768px) {
  .web-page-section i:nth-child(1) {
    top: 50px;
    left: 115px;
    right: unset;
  }
  .web-page-section i:nth-child(2) {
    top: 265px;
    left: 115px;
    right: unset;
  }
  .web-page-section i:nth-child(5) {
    top: 50px;
    right: 115px;
    left: unset;
    bottom: unset;
  }
  .web-page-section i:nth-child(6) {
    top: 265px;
    right: 130px;
    left: unset;
    bottom: unset;
  }
}

.activo-web-all-div {
  -webkit-animation: animation-web-div forwards 14s ease;
          animation: animation-web-div forwards 14s ease;
}

@-webkit-keyframes animation-web-div {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0px 0px 75px -12px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 75px -12px rgba(0, 0, 0, 0.85);
  }
}

@keyframes animation-web-div {
  0% {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  100% {
    -webkit-box-shadow: 0px 0px 75px -12px rgba(0, 0, 0, 0.85);
    box-shadow: 0px 0px 75px -12px rgba(0, 0, 0, 0.85);
  }
}

.choose-me h2 {
  text-align: center;
}

.choose-me .choose-me-parts .choose-me-content {
  padding: 1em 2em;
  margin-top: 1em;
  background-color: #702fad;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.34);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.choose-me .choose-me-parts .choose-me-content h3 {
  color: #390e4e;
  padding-bottom: 0.2em;
  border-bottom: #611a84 5px solid;
}

.choose-me .choose-me-parts .choose-me-content p {
  margin-top: 1em;
}

.choose-me .choose-me-parts .choose-me-content:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .choose-me .choose-me-parts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 5em;
            column-gap: 5em;
    margin-top: 2em;
  }
  .choose-me .choose-me-parts .choose-me-content:nth-child(1) {
    margin-left: 1em;
  }
  .choose-me .choose-me-parts .choose-me-content:nth-child(3) {
    margin-right: 1em;
  }
}

.contact {
  background-image: url(../images/Hotmail.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 15em;
  position: relative;
  border-top: 5px #6e0d15 solid;
  border-bottom: 5px #6e0d15 solid;
}

.contact .contact-content {
  padding: 1em 1.5em;
  position: relative;
}

.contact .contact-content h3,
.contact .contact-content p,
.contact .contact-content a {
  text-align: left;
  color: black;
}

.contact .contact-content h3 {
  color: #6e0d15;
}

.contact .contact-content p {
  font-size: 1.5rem;
  margin: 1em 0;
  font-weight: 900;
}

.contact .contact-content p span {
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 1em;
  color: #6e0d15;
}

.contact .contact-content a {
  background-color: #db2e3c;
  padding: 0.5em 1.5em;
  margin: 0 0;
  border-radius: 10px;
  font-size: initial;
  display: inline-block;
  font-weight: 900;
  font-size: 1.9rem;
  color: white;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.contact .contact-content a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contact:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 768px) {
  .contact {
    margin-top: 8em;
  }
  .contact .contact-content p span {
    font-size: 1.9rem;
  }
}

footer {
  background-color: #383838;
  padding: 1em 1.5em;
  margin-top: 5em;
}

footer .barra-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer .barra-footer p {
  text-align: start;
  color: #bdbdbd;
  border-right: 3px #1a1919 solid;
}

footer .barra-footer nav {
  text-align: end;
}

footer .barra-footer nav a {
  color: #bdbdbd;
  margin-right: 2em;
}

.activo-page {
  border: solid 3px #6e0d15;
  padding: 0.3em 0.7em;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.barra-hero-secundary {
  background-color: #383838;
}

.barra-hero-secundary .barra-hero-secundary-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0;
}

.barra-hero-secundary .barra-hero-secundary-content a,
.barra-hero-secundary .barra-hero-secundary-content nav a {
  font-weight: 900;
  color: #bdbdbd;
}

.barra-hero-secundary .barra-hero-secundary-content .logo {
  font-family: wishper-script;
  font-size: 2rem;
}

.barra-hero-secundary .barra-hero-secundary-content nav a {
  margin-right: 2em;
}

.barra-hero-secundary .barra-hero-secundary-content nav a:last-of-type {
  margin-left: 0;
}

.titulo-notes {
  margin-top: 5em;
}

.titulo-notes h2 {
  text-align: left;
}

.notes-main {
  margin-top: 3em;
}

.notes-main .content-notes {
  margin-top: 0.1px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  border: #959595 solid;
  border-width: 2.5px 5px;
  padding: 1em 0.5em;
  background-color: #dfdbdb;
}

.notes-main .content-notes .information-notes {
  padding: 0em 1em;
}

.notes-main .content-notes .information-notes h3 {
  text-align: left;
  color: #db2e3c;
}

.notes-main .content-notes .information-notes p {
  word-break: break-all;
  text-align: left;
  margin-top: 1em;
}

.notes-main .content-notes .archives-notes {
  border-left: 3px #db2e3c solid;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notes-main .content-notes .archives-notes a {
  background-color: #db2e3c;
  padding: 0.5em 1em;
  margin: auto auto;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  font-weight: 900;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.notes-main .content-notes .archives-notes a i {
  margin-left: 0.3em;
}

.notes-main .content-notes .archives-notes a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.notes-main .content-notes:nth-child(6) {
  border-width: 2.5px 5px 5px 5px;
}

.notes-main .content-notes:nth-child(1) {
  border-width: 5px 5px 2.5px 5px;
}
/*# sourceMappingURL=style.css.map */