html {
        height: 100%;
        box-sizing: border-box;
        font-size: 62.5%;
        background-color: #fd9496;
}
*,
*:before,
*:after {
        box-sizing: inherit;
}
body {
        font-size: 1.6em;
}

//Codigos Reutilizables
$fuente-titulos: "Work Sans", sans-serif; //500-900
$fuente-texto: "Inter", sans-serif; //400-900
$color-principal: rgb(97, 26, 132);
$color-principal-oscuro: rgb(57, 14, 78);
@mixin transform($property) {
        -webkit-transform: $property;
        -ms-transform: $property;
        transform: $property;
}

@mixin button($color, $padding-top, $padding-right, $margin-top, $margin-right, $border, $font) {
        background-color: $color;
        padding: $padding-top $padding-right;
        margin: $margin-top $margin-right;
        border-radius: $border;
        font-size: $font;
}

@font-face {
        font-family: wishper-script;
        src: url(../wishper-script.ttf);
}

//Paginas Codigo Principal

h1,
h2,
h3,
h4 {
        font-family: $fuente-titulos;
        margin: 0 auto;
        text-align: center;
}
p {
        font-family: $fuente-texto;
        text-align: center;
        margin: 0 auto;
}
a {
        font-family: $fuente-titulos;
        text-decoration: none;
        color: black;
        text-align: center;
        margin: 0 auto;
}

img {
        width: 100%;
        height: auto;
}

.contenedor {
        width: 70%;
        margin: 0 auto;
}

.seccion {
        margin: 40px auto;
}
// Pagina Principal

//Header
.hero {
        position: relative;
        img {
                height: 100%;
        }
        .text-header {
                position: absolute;
                top: 20%;
                left: 25%;
                right: 25%;
                bottom: 80%;
                width: 50%;

                h1 {
                        font-size: 6.5vw;
                        font-family: wishper-script;
                        color: $color-principal;
                }
                p {
                        font-family: $fuente-titulos;
                        font-size: 2vw;
                        color: $color-principal;
                        padding-top: 15px;
                }
        }
        .barra {
                position: absolute;
                background-color: #db2e3c;
                height: 25px;
                width: 100%;
                bottom: -10px;
        }
        .barra-header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 4vw;
                .icons {
                        i {
                                margin-left: 4vw;
                                font-size: 3vw;
                                color: $color-principal-oscuro;
                                transition: all ease 0.3s;
                        }
                        i:hover {
                                @include transform(scale(1.1));
                        }
                }
                .pages {
                        a {
                                margin-right: 4vw;
                                font-size: 1.7vw;
                                color: $color-principal-oscuro;
                                transition: all ease-in 0.3s;
                                display: inline-block;
                        }
                        a:hover {
                                @include transform(scale(1.1));
                        }
                }
        }
}

//Freelancer

.barra-freelancer {
        background-color: $color-principal;
        height: 0.5vw;
        width: 50%;
        margin-top: 120px;
        position: relative;
        i {
                position: absolute;
                color: $color-principal;
                top: -400%;
                left: 80%;
                font-size: 4vw;
        }
}
.freelancer-contenido {
        width: 50%;
        h1 {
                text-align: left;
                color: $color-principal-oscuro;
        }
        p {
                margin-top: 10px;
                text-align: left;
                line-height: 2;
        }
}

//My pages

//Barra Header
